/* List Customer Message */

.list-customer-message {
    margin:0 auto 30px;
    padding:0px;
}

/*======= Cart Item =======*/

.cart-wrapper{    
    margin-bottom:50px;
}
.cart-wrapper .cart-item{
    border-top:1px solid #ccc;
    position: relative;
    padding:15px;
}
.cart-wrapper .cart-item.cart_items_head{
    border:none;
    font-weight: 600;
    font-size: 17px;
    color:#777;
    padding: 20px 10px;
}
.cart-wrapper .main_title{
    border:none;
}
.cart-wrapper .main_title.customer_mes_title{
    margin-bottom:10px;
}
.bundle {
    position:relative;
    margin-bottom: 10px;
    text-align:center;
    font-size: 13px;
}
.bundle .old_price,
.bundle .price{
    font-size: 13px;    
}
.bundle .component_block{
    border-bottom:1px solid #ccc;
}
.bundle .bundle-components-wrapper{
    display: none;
    margin:20px auto;
    width:70%;
    box-shadow: 0 0 7px #ccc;
    padding: 15px;
}
.bundle_components_table{
    display:table;
    width:100%;
}
.bundle_components_table .component_block{
    display:table-row;
}
.bundle_components_table .component_block .component_count{
    color:#555;
    font-weight:600;
    text-decoration:underline;	
}
.bundle_components_table .component_block .component_img .glyphicon.build_pcc_fee{
    font-size:30px;
    color:#3278b3;	
}
.bundle .bundle-components-wrapper.open{
    display:block;
}
.bundle .bundle-components-wrapper .arrow {
    font-size: 30px;
    left: 50%;
    position: absolute;
    top: 35px;
}

.cart-item .bundle_components_table .component_block .component_count,
.cart-item .bundle_components_table .component_block .component_unit_prie,
.cart-item .bundle_components_table .component_block .component_discount,
.cart-item .bundle_components_table .component_block .component_total_price{
    width:100px;
}
.cart-item .bundle_components_table .component_edit,
.cart-item .bundle_components_table .component_delete{
    width:0;
    padding:0;
}

/*Cart Component Block*/

.f_bundle_btn{
    cursor:pointer;
}
.see_more{
    color:#63B4FB;
    text-decoration:underline;
}
.cart-item .component_block .cart_item_count .select_wrapper{
    width:70px;
}
.cart-item .component_block .cart_item_count,
.cart-item .component_block .component_unit_prie,
.cart-item .component_block .component_discount,
.cart-item .component_block .component_total_price{
    width:130px;
}

.not_avaible_img{
    width:60px;
}

/* Cart Checkout */

.cart_checkout{
    float:right;
    width:100%;
    max-width:500px;
    background-color: #fff;
}
.cart_checkout .vat,
.cart_checkout .cart_total{
    margin-bottom:10px;
    padding:10px;
    border-bottom:1px solid #ccc;
    text-align: right;
}
.cart_checkout .vat{
    text-align: left; 
    font-weight: 600;   
    font-size: 18px;
    color:#555;
}
.cart_checkout .vat a{
    float:right;
}

.cart_checkout .promo{
    color: #555;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
.cart_checkout .promo .text_red{
    float:right;
}

.cart_checkout .cart_total .total_ph{
    float:left;
    font-size: 18px;
    font-weight: 600;
    color:#555;
    text-align: center;
}
.and_phrase{
    display:inline-block;
    margin:0 10px;
    font-weight: 600;
}
.cart_checkout .button.blue{
    float:right;
    font-size: 17px;
    padding: 10px 20px;
    width: auto;
}

.warning_message{    
    display:block;
    padding: 7px 15px;
    color: #555;
    background-color: #FDEBE8;
    border: 1px solid #D54000;
    border-radius: 3px;
    clear:both;
}

/* Shipping Info */

.shipping_info{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
}

.shipping_info span:first-child{
    display:block;
    float:left;
    color: #555;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}

.shipping_info .text_red {
    display: inline-block;
    max-width: 300px;
}

/***************** Checkout Confirm Container *******************/

.checkout_confirm_container{
    padding-right: 520px;
    position:relative;
}

.checkout_confirm_container .checkout_confirm.cart_checkout{
    position:absolute;
    top:46px;
    right:0;
    margin:auto;
    padding:10px 20px;
    width: 100%;
    box-shadow: 0 0 7px #ddd;
    background-color: rgba(255,255,255,0.77);
    z-index: 1000;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px; 
    -o-border-radius: 7px; 
    -ms-border-radius: 7px;
    -icab-border-radius: 7px; 
    border-radius: 7px; 

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.checkout_confirm_container .checkout_confirm.cart_checkout .main_loader{
    position:absolute;
    background-size: 150px auto;
}
.checkout_confirm_container .checkout_confirm.cart_checkout.fixed{
    position: fixed;
    right:21px;
}

.checkout_confirm.cart_checkout .vat{
    display:none;
}

.vat_state{
    display:none;
}
.checkout_confirm.cart_checkout .vat_state{
    display:inline;
}

/******************************* Checkout Payment Method Container ****************************/

.payment_method_container{
    display:table;
    width:100%;
    border-collapse: collapse;
}

/* Payment Type Container */

.payment_type_container{
    display:table-cell;
    vertical-align: top;
    width: auto;
}

.payment_type_container .payment_type{
    padding:10px 5px;
    display: block;
    position: relative;
    border:2px solid transparent;
    border-right:none;
    white-space: nowrap;
    margin-bottom:-1px;
    cursor: pointer;

    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px; 
    -o-border-radius: 5px 0 0 5px; 
    -ms-border-radius: 5px 0 0 5px;
    -icab-border-radius: 5px 0 0 5px; 
    border-radius: 5px 0 0 5px; 

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.payment_type_container .payment_type input{
    cursor: pointer;    
}
.payment_type_container .payment_type:first-child{
    margin-top:-1px;    
}
.payment_type_container .payment_type.active{
    border-color:#777;
    width: auto;
    background-color: #fff;
    z-index: 7;
    margin-right: -2px;
}
.payment_type .payment_img{
    display:inline-block;
    vertical-align: middle;
    width:50px;
    margin-left: 5px;
}

.payment_type .payment_name.label{
    display:inline-block;
    vertical-align: middle;
    padding:0 5px;
    white-space: normal;
    width: 120px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.payment_type .form-group:hover .payment_name.label{
    color:#63B4FB;
}

/*Payment type button*/
.payment_type_btn{
    float: left;
    display:none;
    height:45px;
    line-height: 45px;
    cursor: pointer;
}
.payment_type_btn span{
    border-right:none;
    padding: 0;
    display:inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 600;
    color: #555;
}
.payment_type_btn.active span,
.payment_type_btn:active span{
    color: #63b4fb;
}

/* Payment Details */

.payment_details{
    width:100%;
    display:table-cell;
    vertical-align: top;
    border: 2px solid #777;
    padding: 10px;
    position: relative;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -o-border-radius: 5px; 
    -ms-border-radius: 5px;
    -icab-border-radius: 5px; 
    border-radius: 5px; 
}
.payment_details .main_loader{
    position: absolute;
}


/* Shipping Information */

.ship_addr_container .form-group {
    margin-bottom:15px;
}

.ship_addr_container .form-group .label.input_label{
    display: inline-block;
}

/*Cell Phone Number Pop Up*/

.cell_phone_number_pop_up{
    text-align: center;    
}
.cell_phone_number_pop_up.pop_up_container .pop_up{
    max-width: 550px;
}
.cell_phone_number_pop_up .text{
    margin-bottom:20px;
}
.cell_phone_number_pop_up .label{
    text-align: left;
}
.cell_phone_number_pop_up .form-group{
    max-width: 300px;
    margin:auto;
}
.cell_phone_number_pop_up .button{
    max-width: none;
    width:auto;
    padding:10px 15px;
}

/*Promo Code Container*/

.promo_code_container{
    float:left;
    width: 300px;
}
.promo_code_container .button{
    margin:auto;
    padding:9px
}
.promo_code_container .text{
    padding:11px 15px;
}
.promo_code_container .label.input_label{
    font-size:18px;
    padding:10px;
}

/*======================== Payment Type Details Container ===================*/

.payment_details .title {
    border:none;
    color:#63B4FB;
}

.pcstore_info_text{
    color: #777;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

/* Payment Cash */

.pd_cash{
    display:table;
    min-width: 300px;
}
.pd_cash .form-group{
    display:table-row;
}
.pd_cash .form-group p{
    display:table-cell;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    color:#555;
    font-size:15px;
    text-align: right;
}
.pd_cash .form-group p:first-child{
    font-weight: 600;
    text-align: left;
}

/* Payment Bank Transfer */

.company_payment_details{
    margin: 30px auto 0;
    max-width: 700px;
}

.company_payment_details .form-group{
    margin-bottom:10px;
}

/* Payment Credit */

.payment_credit_wrapper .credit_no_ship{
    font-weight: 600;
    color:#63B4FB;
    text-align: center;
    margin-bottom:10px;
    font-size:17px;
}

.payment_credit_wrapper .form-group{
    margin-bottom:10px;
}

.payment_credit_wrapper .form-group p{
    display:inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/**************************************************************************************/
/*                                                                                    */
/*                                 CART PC RESPONSIVE                                 */
/*                                                                                    */
/**************************************************************************************/

@media (max-width : 1400px) and (min-width:1281px){
    /**************************************************************************/
    /*                               Checkout                                 */
    /**************************************************************************/
    .checkout_confirm_container{
        padding-right:420px;
    }
    .checkout_confirm_container .checkout_confirm.cart_checkout{
        max-width:400px;
    }
    .payment_type .payment_name.label{
        width:90px;
    }
}
@media (max-width : 1280px){
    /**************************************************************************/
    /*                               Checkout                                 */
    /**************************************************************************/
    .checkout_confirm_container{
        padding-right:0;
    }
    .checkout_confirm_container .checkout_confirm.cart_checkout{
        position:relative !important;
        top:auto !important;
        right:auto !important;
        margin-top:20px;
    }
}
@media (max-width : 1024px){
    .cart-item .component_block .cart_item_count,
    .cart-item .component_block .component_unit_prie,
    .cart-item .component_block .component_discount,
    .cart-item .component_block .component_total_price {
        width: 100px;
    }
    .cart-item .bundle_components_table .component_block .component_count,
    .cart-item .bundle_components_table .component_block .component_unit_prie,
    .cart-item .bundle_components_table .component_block .component_discount,
    .cart-item .bundle_components_table .component_block .component_total_price {
        width: 70px;
    }
    .bundle .bundle-components-wrapper{
        width:90%;
    }
    .cart-wrapper .cart-item{
        padding:5px;
    }
    .cart-wrapper .cart-item.cart_items_head{
        display:none;
    }
}
@media (max-width : 768px){
    .cart-wrapper{
        margin-bottom: 20px;
    }
    .cart_checkout,
    .promo_code_container{
        float:none;
        clear:both;
        margin: 20px auto;
        max-width: none;
    }
    .cart_checkout .button.blue{
        float:none;
    }

    /**************************************************************************/
    /*                               Checkout                                 */
    /**************************************************************************/

    .payment_details .title {
        font-size: 18px;
        padding-bottom:0;
        margin-bottom:15px;
    }
    @media (min-width:651px){
        .pcstore_info_text{
            font-size:15px;
        }
        .payment_type .payment_img{
            width:35px;
        }
        .payment_type .payment_name.label{
            width:70px;
            font-size:13px;
        }
    }

}
@media (max-width : 750px){
    .cart-item .component_block .cart_item_count,
    .cart-item .component_block .component_unit_prie,
    .cart-item .component_block .component_discount,
    .cart-item .component_block .component_total_price {
        width: auto;
    }
    .bundle_components_table .component_block,
    .bundle_components_table{
        display:block;
        width:auto;
    }
    .cart-item .bundle .component_block .component_info{
        width: 80%;        
    }
    .cart-item .component_block > div{
        display:inline-block;
    }
    .cart-item .component_block .clear{
        display:block;
    }
}
@media (max-width : 650px){
    /**************************************************************************/
    /*                               Checkout                                 */
    /**************************************************************************/

    .payment_method_container{
        display:block;
        width:auto;
    }
    .payment_details{
        display:block;
        width:auto;
        min-height: 250px;
    }
    .payment_details .main_loader{
        z-index:500;
    }
    .payment_type_container{
        display:block;
        width: 100%;
        max-width: 300px;
        background-color: #fff;
        height: 100%;
        left: -332px;
        overflow: auto;
        padding: 0;
        position: fixed;
        top: 0;
        padding-top:46px;
        vertical-align: top;
        z-index: 10000;
        border: 1px solid #e0e0e0;
        box-shadow: 0 0 15px #999;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; 

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .payment_type_container.active{
        left:0;
    }
    .payment_type_container .payment_type{
        padding:10px;
        border:none;

        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0; 
        -o-border-radius: 0; 
        -ms-border-radius: 0;
        -icab-border-radius: 0; 
        border-radius: 0; 
    }
    .payment_type_container .payment_type.active{
        background-color:rgba(99,180,251,0.7);
    }
    .ctl_main_checkout .payment_type_btn{
        display:block;
    }
}

@media (max-width : 590px){
    .cart-item .component_block .clear.cart_clear_bottom{
        display:block;
    }
}
@media (max-width : 360px){
    .payment_type_container{
        max-width: none;
        left: -100%;
    }
}




















