/**************************************************************************************/
/*                                   MAIN NAVIGATION                                  */
/**************************************************************************************/

.navbar{
    border-bottom:1px solid #ddd;
    padding-top:46px;
}
.navbar .navbar-header{
    float:left;
    margin-top:5px;
}
.navbar .navbar-toggle {
    display:none;
}

.navbar .navMenu{
    background-color:#f7f7f7;
    border-bottom:1px solid #ccc;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 11000;
}
.navMenu_inner{
    max-width: 1920px;
    padding:0 20px;
    margin:auto;    
}

/********************** Navigation Menu *****************/

.navMenuList{
    margin: auto;
    text-align: right;
    font-size: 0;
    white-space: nowrap;
}
.navMenuList:after{
    content:"";
    display:block;
    clear: both;
}
.navMenuList>li{
    height: 45px;
    line-height: 45px;
    display:inline-block;
    vertical-align: middle;
    font-size: 15px;
    text-align: left;
}
.navMenuList .navMenu_item{
    display:inline-block;
    vertical-align: middle;
    color:#555;
    font-size:13px;
    padding:0px 20px;
    height:20px;
    line-height:20px;
    border-right:1px solid #ccc;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;	
}
.navMenuList .navMenu_item .glyphicon{
    display:inline-block;
    vertical-align: middle;
    margin-left:7px;
}
.navMenuList .navMenu_item.active {
    color: #63b4fb;
}
.navMenuList>li:last-child .navMenu_item{
    border-right:none;
}
.navMenuList>li a:hover{
    color:#63B4FB;
}

/****************************************************************************/
/*                              Drop Down Menu                              */
/****************************************************************************/

.navMenuList li.dropdown{
    position:relative;
}

.navMenuList li.dropdown a.dropdown_toggle{
    position:relative;
}
.navMenuList li.dropdown a.dropdown_toggle:after{
    content:"";
    font-family: "glyphicons-halflings";
    display:inline-block;
    vertical-align: middle;
}

.dropdown_menu{
    display:none;
    position:absolute;
    top:50px;
    right:0;
    background-color:#fff;
    box-shadow:0 0 7px #777;
    padding:5px;
    z-index: 1000;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px; 
    -o-border-radius: 3px; 
    -ms-border-radius: 3px;
    -icab-border-radius: 3px; 
    border-radius: 3px; 
}
.dropdown_menu li {
    height: auto;
    line-height: initial;
}

.dropdown_menu li a{
    padding:5px;
    clear:both;
    display:block;
    color:#777;
    font-size: 15px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px; 
    -o-border-radius: 3px; 
    -ms-border-radius: 3px;
    -icab-border-radius: 3px; 
    border-radius: 3px; 
}
.dropdown_menu li a:hover{
    background-color: #63B4FB;
    color: #fff;
}

.dropdown_menu li a img{
    display:inline-block;
    vertical-align:middle;
    width:25px;
    margin-right:5px;	
}

/* Nav Menu Button */

.nav_menu_btn{
    display:none;
    float:right;
    height:45px;
    line-height: 45px;
    cursor: pointer;
}
.nav_menu_btn span{
    display:inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 600;
    color: #555;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;	
}
.nav_menu_btn.active span,
.nav_menu_btn:active span{
    color: #63b4fb;
}

/**************************************************************************************/
/*                      HEADER SEARCH & LOGO & BUILD PC                               */
/**************************************************************************************/

.header_content_container{
    clear:both;
    padding:20px;
    margin:auto;
    max-width: 1920px;
}
.header_content_table{
    display:table;
    width:100%;
}
.header_content{
    display:table-cell;
    vertical-align: middle;
}

/*Header Content Inner*/

.header_content_inner{
    display:table;
    width:100%;
}
.site_logo{
    display:table-cell;
    vertical-align:middle;
    width:200px;
}
.site_logo img{
    width:160px;
    display: inline-block;
    vertical-align: middle;
}
.header_content .search_block{
    display:table-cell;
    vertical-align:middle;
    position:relative;
}

/**************************************************************************************/
/*                                   CONTACT INFO                                     */
/**************************************************************************************/

.contact_info {
    padding:0 0 7px 200px;
}
.contact_info.has_company_shop{
    display:table;
    width:100%;
    padding:0 0 10px 0;
}

.contact_info.has_company_shop .contact_info_inner{
    display:table-cell;
    vertical-align: middle;
}

.contact_info .contact_info_item{
    display:inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin-right:15px;
}

.contact_info .fontAwesome{
    display:inline-block;
    vertical-align: middle;
    font-size: 25px;
    color:#63B4FB;
    margin-right:5px;
}

.contact_info .contact_link{
    display:inline-block;
    vertical-align: middle;
    font-size: 15px;
    color:#555;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contact_info .contact_link:hover{
    color:#63B4FB;    
}

/**************************************************************************************/
/*                                   COMPANY SHOP                                     */
/**************************************************************************************/

.company_shop {
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    text-align: center;
}
.company_shop img{
    max-width:100px;
    max-height:100px;
}

/**************************************************************************************/
/*                                   BUILD PC LINK                                    */
/**************************************************************************************/

.build_pc_animation{
    display: table-cell;
    vertical-align: middle;
    padding-left:20px;
    width:284px;
    font-size: 0;
}
.build_pc_animation.build_pc_animation_top{
    display:none;
}
.build_pc_animation .build_pc_link{
    display:inline-block;
    z-index: 100;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px; 
    -o-border-radius: 7px; 
    -ms-border-radius: 7px;
    -icab-border-radius: 7px; 
    border-radius: 7px; 
}
.build_pc_animation .build_pc_link::before {
    color: #63b4fb;
    content: "Build PC";
    font-size: 30px;
    font-weight: 600;
    height: 100%;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: 1000;
    text-align: left;
}
.build_pc_animation .build_pc_link .build_pc_img{
    display:block;
}
.build_pc_animation .build_pc_link.no_flash .build_pc_img.build_pc_obj{
    display:block;
}

.build_pc_animation .build_pc_obj{
    width:284px;
    height:160px;
    z-index: -100;
    display:block;
}
.build_pc_animation .build_pc_link.no_flash .build_pc_obj{
    display:none;
}

/**************************************************************************************/
/*                             MAIN POPUP SIGNIN SIGNUP                               */
/**************************************************************************************/

.modal{
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0;
    z-index:1000000;
    overflow: auto;
}

.modal .modal-content{
    max-width:1000px;
    width:100%;
    box-shadow:0 0 5px #999;
    position:absolute;
    top:30%;
    left:50%;
    padding-top:20px;
    background-color:#fff;
    opacity:0;
    transition:all 0.5s ease;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px; 
    -o-border-radius: 3px; 
    -ms-border-radius: 3px;
    -icab-border-radius: 3px; 
    border-radius: 3px; 

    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);  
    -webkit-transform:translate(-50%,-50%);  
    -o-transform:translate(-50%,-50%);  
    -ms-transform:translate(-50%,-50%);  
}

.modal .modal-content.active {
    top:50%;
    opacity:1;
}

/*Forgot Modal*/
.modal.forgotModal .modal-content{
    max-width:300px;
    padding: 40px 20px 20px;
}

.modal.forgotModal .modal-content .send_pass{
    width:150px;
}

.modal.forgotModal .modal-content p {
    display: block;
    text-align:center;
}
.modal .modal-content .modal-body{
    display:table;
    width:100%;
}
.modal-body .modal_cols{
    display:table-cell;
    vertical-align: top;
    padding:20px;
    width:33.3%;
}
.modal_cols .button{
    margin-bottom:0;
}
.modal .modal-content h4{
    color:#555;
    font-size:16px;
    border-bottom:1px solid #999;
    padding-bottom:5px;
    margin-bottom:10px;
}

/**************************************************************************************/
/*                                   FORGOT PASSWORD                                  */
/**************************************************************************************/

.modal .modal-content .form-group{
    margin-top:10px;
}

.modal .modal-content .forget_pass{
    color:#428bca;
    display:block;
    margin-top: 7px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;	
}
.modal .modal-content .forget_pass:hover{
    text-shadow:0 0 3px #428bca;
}

.modal .modal-content .social-login .social-login-link{
    max-width: 220px;
    display:block;
    margin:25px auto 0;
    color:#fff;
    font-size:16px;
    line-height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.modal .modal-content .social-login .social-login-link:after {
    clear: both;
    content: "";
    display: block;
}
.modal .modal-content .social-login .social-login-link img{
    width:25px;
    padding:7px;
    display:block;
    float:left;
    margin-right:15px;
}

/* Facebook */
.modal .modal-content .social-login .social-login-link.facebook img {
    background-color:#354f88;
}
.modal .modal-content .social-login .social-login-link.facebook {
    background-color:#3b5998;
}
/* LinkedIn */
.modal .modal-content .social-login .social-login-link.linkedin img {
    background-color:#40a2d1;
}
.modal .modal-content .social-login .social-login-link.linkedin {
    background-color:#45b0e3;
}
/* Google+ */
.modal .modal-content .social-login .google img {
    background-color:#ce3e26;
}
.modal .modal-content .social-login .google {
    background-color:#de4c34;
}

/**************************************************************************************/
/*                                      SIGN UP                                       */
/**************************************************************************************/

.modal .modal-content .create-account-wrapper p{
    /*color: #3aa031;*/
    font-weight: 600;
    margin-bottom:7px;
}

.modal .modal-content .create-account-wrapper ul{
    padding-left:30px;
}

.modal .modal-content .create-account-wrapper ul li{
    /*list-style-image: url("../../img/tick.png");*/
    list-style-type: initial;
    font-size:13px;
    color:#333;
}

/**************************************************************************************/
/*                                     SIGN UP PAGE                                   */
/**************************************************************************************/

.sign_up_wrapper{
    padding:20px;
    width:calc(100% - 40px);
    max-width:550px;
    margin:auto;
}

.sign_up_wrapper .form-group{
    margin-bottom:10px;
}

.sign_up_wrapper h4{
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 20px;
    margin: 20px 0;
    padding-bottom: 10px;
}


/**************************************************************************************/
/*                                                                                    */
/*                                  HEDAER RESPONSIVE                                 */
/*                                                                                    */
/**************************************************************************************/

@media (max-width : 1000px){
    .nav_menu_btn{
        display:block;
    }

    .navMenuContainer{
        width:300px;
        background-color: #fff;
        height: calc(100% - 47px);
        right: -330px;
        overflow: auto;
        padding: 0;
        position: fixed;
        top: 46px;
        vertical-align: top;
        z-index: 10000;
        border: 1px solid #e0e0e0;
        box-shadow: 0 0 15px #999;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;	
    }
    .navMenuContainer.active{
        right:0;
    }

    /********************** Navigation Menu *****************/

    .navMenuList>li{
        height: auto;
        line-height: initial;
        display:block;
        text-align: right;
        border-bottom:1px solid #E0E0E0;
    }
    .navMenuList .navMenu_item{
        display:inline-block;
        font-size:13px;
        padding:10px;
        height:auto;
        line-height:initial;
        border-right:none;
    }
    .notification .navMenu_item::before{
        right:10px;
    }
    /*******************************Drop Down Menu*******************************/

    .dropdown_menu{
        position:static;
    }
    .dropdown_menu li a:hover{
        background-color: transparent;
        color:#777;
    }
    .dropdown_menu li a:active{
        background-color: #63B4FB;
        color: #fff;
    }

    /*****************************HEADER SEARCH & LOGO & BUILD PC*************************/

    .contact_info{
        padding:0;
        text-align: center;
    }


    /***************** BUILD PC ANIMATION ****************/

    .build_pc_animation{
        padding-left:10px;
        width:213px;
    }
    .build_pc_animation .build_pc_link::before {
        font-size: 20px;
    }

    .build_pc_animation .build_pc_obj{
        width:213px;
        height:120px;
    }

}
@media (max-width : 768px){
    .navMenu_inner{
        padding:0 10px;
    }

    /**************************************MAIN POPUP*************************************/
    .modal-body .modal_cols{
        padding:10px;
    }

    /*****************************HEADER SEARCH & LOGO & BUILD PC*************************/
    .header_content_container{
        padding:10px;
    }
    .company_shop,
    .site_logo{
        width:170px;
    }


    /***************** BUILD PC ANIMATION ****************/

    .build_pc_animation{
        width:142px;
    }
    .build_pc_animation .build_pc_link::before {
        font-size: 15px;
    }

    .build_pc_animation .build_pc_obj{
        width:142px;
        height:80px;
    }
}

@media (max-width : 700px){
    .modal .modal-content{
        top:0;
        left:0;
        padding-top:30px;
        padding-bottom:10px;

        transform:translate(0,0);
        -moz-transform:translate(0,0);  
        -webkit-transform:translate(0,0);  
        -o-transform:translate(0,0);  
        -ms-transform:translate(0,0); 
    }
    .modal .modal-content.active{
        top:0%;
    }
    .modal.forgotModal .modal-content{
        left:50%;

        transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);  
        -webkit-transform:translate(-50%,-50%);  
        -o-transform:translate(-50%,-50%);  
        -ms-transform:translate(-50%,-50%);         
    }
    .modal.forgotModal .modal-content.active{
        top:50%;
    }
    .modal .modal-content .modal-body{
        display:block;
        width:auto;
    }
    .modal-body .modal_cols{
        display:block;
        width:auto;
    }

    /********************************** SEARCH & LOGO & BUILD PC ***************************/
    .header_content .search_block{
        display: table-caption;
        caption-side: bottom;
        margin: 10px auto;
    }

    .build_pc_animation{
        display:none;
    }
    .build_pc_animation.build_pc_animation_top{
        display:table-cell;
        vertical-align: middle;
        text-align: right;
    }
    .build_pc_animation .build_pc_link {
        width:142px;
    }
}
@media (max-width : 480px){
    .site_logo,
    .site_logo img{
        width:130px;
    }
    
    .company_shop{
        width:100px;
    }
    .company_shop img{
        max-width:70px;
        max-height:70px;
    }

    /*Contact Info*/
    .contact_info {
        margin-bottom: 10px;
    }
    .contact_info .fontAwesome{
        font-size: 20px;
    }
    .contact_info .contact_link{
        font-size: 13px;
    }
}
@media (max-width : 360px){
    .navMenuContainer {
        width:100%;
        right: -100%;
    }
}