.left-panel {
    display:table-cell;
    width:300px;
    vertical-align:top;
    position: relative;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}
.left-panel .left-panel_content{
    border-radius:3px;
    overflow:hidden;
    border:1px solid #E0E0E0;
}
.left-panel .any_categories{
    display:block;
    background-color:#f7f7f7;
    padding: 10px;
    font-size: 18px;
    color:#555;
    font-weight: 600;
}
.left-panel .any_categories .glyphicon{
    font-weight:500;
    margin-right: 3px;
}
.left-panel .any_categories span{
    vertical-align: middle;
}
.left-panel ul{	
}
.left-panel ul li a{
    display:table;
    width:100%;
    border-top: 1px solid #E0E0E0;
    background-color:#fff;
    font-size: 15px;
    color:#333;

    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.left-panel ul li a.active{
    color:#63B4FB;
    font-weight:600;
    font-size: 17px;
}
.left-panel ul li a:hover{
    background-color:#63B4FB !important;
    color:#fff;
}
.left-panel ul li a .cat_count{
    display: table-cell;
    width: 50px;
    text-align:center;
}
.left-panel ul li a .cat_count span{
    border-radius: 7px;
    color: #333;
    font-size: 13px;
    padding: 3px 5px;
    background-color:#eee;
    display:inline-block;
    vertical-align:middle;
}
.left-panel ul li a:hover .cat_count span{
    background-color:#fff;
    color:#63B4FB;
}
.left-panel ul li .dropdown-toggle{
    width: 35px;
    display: none;
    cursor: pointer;
    text-align: center;
    vertical-align:middle;
    background-color:#63B4FB;
    color:#fff;
}
.left-panel ul li:hover>a .dropdown-toggle{
    background-color:#fff;
    color:#63B4FB;	
    border:1px solid #63B4FB;
}
.left-panel ul li .dropdown-toggle:before{
    font-family:"glyphicons-halflings";
    content:"";
    display:inline-block;
    vertical-align:middle;
}
.left-panel ul li.opened>a>.dropdown-toggle:before{
    content:"";
}
.left-panel ul li.dropdown>a>.dropdown-toggle{
    display:table-cell;
}
.left-panel ul li.dropdown>ul{
    display:none;
}
.left-panel ul li.dropdown>ul>li{
    margin-left:35px;
}


.left-panel ul li a .cat_name {
    padding: 10px;
    display:block;
}

/*Checkbox categories*/

.left-panel .product_categorie{
    padding:10px;
    color:#63B4FB;
    border-bottom:1px solid #63B4FB;
    border-top: 1px solid #ddd;
    background-color:#fff;
    font-weight:600;
    font-size:15px;
}
.left-panel .product_title{
    padding:5px 0 0 20px;
    color:#777;
    font-weight: 600;
}
.left-panel .product_checkbox{
    padding:10px 0 5px 10px;
    margin-left:20px;
    border-bottom:1px solid #e0e0e0;
}
.left-panel .product_checkbox:last-child{
    border-bottom:none;
}
.left-panel .category_property{
    margin-right:10px;
    vertical-align: middle;
    cursor: pointer;
}
.left-panel .product_checkbox a{
    color:#428bca;	
    font-weight: 600;
}

/*********************************************************************/
.left-panel-btn-controller {
    position: absolute;
    right: -15px;
    top: 60px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
.left-panel-btn-controller .contr-button {
    background-color: #269abc;
    border-radius: 50%;
    color: #fff;
    height: 25px;
    line-height: 13px;
    padding: 4px;
}

/**************************************************************************************/
/*                                                                                    */
/*                                LEFT PANEL RESPONSIVE                               */
/*                                                                                    */
/**************************************************************************************/

@media screen and (max-width : 1250px){
    .left-panel {
        background-color: #fff;
        height: calc(100% - 46px);
        left: -330px;
        overflow: auto;
        padding: 0;
        position: fixed;
        top: 46px;
        vertical-align: top;
        z-index: 10000;
    }
    .left-panel.active{
        left:0;
    }
}
@media screen and (max-width : 480px){
    .left-panel {
        width:100%;
        left: -100%;
    }
}