body{
    /*background:url(../../img/doc_bg.png) repeat scroll 0 0 transparent;*/
    font-size: 15px;
    color:#333;
    font-family:sans-serif;
    max-width: 1920px;
}

/**************************************************************************************/
/*                                         WRAPPER                                    */
/**************************************************************************************/

.wrapper{
    border: 1px solid transparent;
    margin: auto;
    padding: 20px;
}

/**************************************************************************************/
/*                                     MAIN SEARCH BLOCK                              */
/**************************************************************************************/

.home_page_main_wrapper{
    border:1px solid transparent;
}
.right-content {
    display: table-cell;
    padding-left: 30px;
}


/**************************************************************************************/
/*                                                                                    */
/*                                    MAIN RESPONSIVE                                 */
/*                                                                                    */
/**************************************************************************************/


@media (max-width : 768px){
    .wrapper{
        padding: 10px;
    }
}






