/***************************************************************************/
/*                            ORDERS PAGE                                  */
/***************************************************************************/

.orders_main_header{
    display:table;
    width:100%;
    margin-bottom:20px;
}
.orders_main_header>div{
    width:17%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-size:20px;
    font-weight:600;
    color:#555;
}
.orders_main_header>div:last-child{
    width:32%;
}

/*======= Order Main Block =======*/

.order_main_block{	
    border-top:1px solid #ccc;
    position: relative;
    padding:15px;
}
.order_slide_btn{
    display:inline-block;
    color:#63B4FB;
    text-decoration: underline;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.order_slide_btn .osb_hide{
    display:none;
}
.order_slide_btn.active .osb_hide{
    display:inline;
}
.order_slide_btn.active .osb_show{
    display:none;
}
/*Order Info*/
.order_info{
    display:table;
    width:100%;
}
.order_info>div{
    width:17%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding: 0 20px;
}
.order_info>div.order_status{
    width:32%;
}

/*Order Item*/
.order_item_block{
    display:table-row;
    width:100%;
}
.order_item_block>div{
    width:25%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding: 5px 15px;
}

/*Order Header*/
.order_header{
    display:table-row;
}
.order_header>div{
    border-bottom: 2px solid #63B4FB;
    color: #63B4FB;
    display: table-cell;
    font-weight: 600;
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;    
}

/*Order Item Table*/
.order_bundle_item_total{
    display: table-row;
}

.order_bundle_item_total > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px 15px;
    font-weight: 600;
    color:#63B4FB;
}

/*Order Bundle Components*/
.order_more_info{
    box-shadow: 0 0 7px 0 #ddd;
    display: table;
    margin: 10px auto auto;
    padding: 10px;
    width: 70%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.order_bundle_components{
    display:table-row-group;
}
.order_bundle_components .order_bundle_item{
    display:table-row;
}
.order_bundle_components .order_bundle_item>div{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    padding: 5px 15px;
    font-size: 13px;
}
.order_bundle_components .order_bundle_item:nth-child(odd)>div{
    background-color:#f9f9f9;
}

.order_bundle_components .order_bundle_item .order_bundle_price{
    width:100px;
}

/******************************************************************************/
/*                                                                            */
/*                             ORDERS RESPONSIVE                              */
/*                                                                            */
/******************************************************************************/

@media (max-width : 768px){
    .orders_main_header > div{
        font-size:17px;
    }
    .order_main_block{
        font-size:13px;
        padding: 5px;
    }
    .order_info > div{
        padding:0 10px;
    }
    .order_more_info{
        width:90%;
    }
    .order_bundle_components .order_bundle_item > div,
    .order_bundle_item_total > div,
    .order_header > div{
        padding:5px;
    }
}

@media (max-width : 650px){
    .order_main_block{
        text-align: center;
    }
    .orders_main_header,
    .order_info{
        display:block;
        width: auto;
    }
    .orders_main_header > div,
    .order_info > div{
        padding:5px;
        display:block;
        width: auto;
    }
    .orders_main_header > div:last-child,
    .order_info > div.order_status{
        width:auto;
    }
    .order_more_info{
        width:100%;
        padding: 5px;
    }
    .order_slide_btn{
        font-size: 1.3em;
    }
}
@media (max-width : 470px){
    .order_item_block,
    .order_item_block > div,
    .order_more_info,
    .order_bundle_item_total,
    .order_header,
    .order_bundle_components,
    .order_bundle_components .order_bundle_item,
    .order_bundle_components .order_bundle_item > div,
    .order_bundle_item_total > div,
    .order_header > div{
        display:block;
        width:auto;
    }
    .order_item_block > div{
        padding:3px;
    }
    .order_header{
        border-bottom: 2px solid #63b4fb;
    }
    .order_header > div{
        border:none;
        padding:3px;
    }
    .order_bundle_item_total > div{
        color:#333;
    }
    .order_bundle_components .order_bundle_item .order_bundle_price{
        width:auto;
    }
    .order_bundle_components .order_bundle_item > div,
    .order_bundle_item_total > div{
        padding:1px;
    }
    
}